* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #493b4b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  
  /* Card Header*/
  .card-header  {
    
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .card-header .img-pix {
    
    width: 100%;
    height: 150px;
    top: 200px;
   
  }
  
  .card-img {
    position: absolute;
    right: 500;
  }
  
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-local {
    font-size: 25px;
    margin: 10px 0;
  }
  
  .card-titulo {
    font-size: 20px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 15px;
    width: 250px;
    margin: 0 auto;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background-color: #00a6cf;
  }
  

  
  .card-1 .card-local {
    color: #00a6cf;
  }
  
  
  .card-2 .card-footer {
    background-color: #fd1010;
  }
  
  .card-2 .card-local {
    color: #3f3340;
  }
  
  .card-3 .card-footer {
    background-color: #00c702;
  }
  
  .card-3 .card-local {
    color: #00c702;
  }
  
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
  