body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.card {
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    text-align: center;
    width: 40vw;
    margin-bottom: 30vh;
    margin-top: 30vh;
    height: 40vh;
}
.card a {
    color: #333;
    display: block;
    margin-top: 10px;
}