.container-header {
    margin: 0 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.filters {
    display: flex;
    justify-content: center;
}

.calcas {
    margin: 20px;
}

.bermudas {
    margin: 20px;
}

.search-bar {
    width: 70vw;
}
