* {
    margin: 0;
    padding: 0;
}

.body-title {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 40px;
    text-decoration: underline;
}

.body-text {
    margin: 50px;
    font-size: large;
}

.body-text p {
    margin-left: 25%;
    margin-right: 25%;
}

.body-text h2 {
    margin-left: 25%;
    color: #00afdf;
    text-decoration: underline;
}

.body-list {
    margin: 20px;
    margin-left: 25%;
}

main {
    height: 62vh;
}

.container-body {
    display: block;
}