@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a:hover {
    opacity: 0.5;
}

/* NAVBAR */

a.link-navbar {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 800;
}

a.logo {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 1000;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #00afdf;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    background-color: #00afdf;
    box-shadow: 0 0 4px black;
    display: none;
}

.dropdown-menu a {
    display: block;
    padding: 15px;
    color: #fff;
}

.dropdown-menu a:hover {
    background-color: #005269;
}

/* NAVBAR */

/* CARDS */

.container-title {
    text-align: center;
    margin: 20px;
    font-family: sans-serif;
    font-style: oblique;
    font-size: larger;
}

.container-body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.card-header {
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

.card-body {
    height: 170px;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

.card-nome {
    letter-spacing: 1px;
}

.card-preco {
    color: aqua;
    margin: 0 auto;
}

.container-footer {
    text-align: center;
    margin: 30px;
}

.container-footer a {
    text-decoration: overline underline;
}

/* CARD*/

/* CONTATO */

footer {
    background-color: #8e44ad;
    display: flex;
    justify-content: space-evenly;
}

.container-conectado {
    text-align: center;
    font-family: sans-serif;
    padding: 25px;
    color: #fff;
}

.container-contato {
    text-align: center;
    font-family: sans-serif;
    padding: 25px;
    color: #fff;
}

.div-contato {
    margin: 25px;
}

footer {
    height: 30vh;
}