main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-details {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.product-desc {
    text-align: center;
    background-color: #eee;
    margin-left: 4vw;
    font-size: 25px;
    border: 2px solid;
    height: 500px;
    padding: 40px;
    max-width: fit-content;
}

.product-img {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    height: 600px;
    max-width: fit-content;
}

.product-price {
    color: #00ccff;
    font-weight: bolder;
    font-size: xx-large;
    margin: 15px;
}

.form-compra {
    padding: 20px;
}

.btn-buy {
    font-size: 30px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #00ccff;
    border: 2px solid;
    border-radius: 20px;
}

.btn-buy:hover {
    font-size: 20px;
}

.label-tamanho {
    color: #8e44ad;
    font-weight: bolder;
}

.select-tamanho {
    font-size: 20px;
}
