.digite-text {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: large;
}

.div-form {
    margin-right: 5vw;
    margin-left: 5vw;
    padding: 20px;
    background-color: #b0eafd;
    border: 1px solid black;
}