body{

    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;


}


header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#title{

    flex-direction: column;
    line-height: 10px;
    

}

li{

    display: inline-block;
    margin: 20px;

}

a{

    color: rgb(255, 255, 255);

}

a:hover{

    color: blueviolet;
    transition: 0.3s all;

}

#inscreva-se-btn{

    border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 20px;

}

#inscreva-se-btn:hover{

        background-color: blueviolet;
        color: aliceblue;

}

h1{

    font-weight: 200px ;
    font-size: 40pt;
    
    
}

main{

    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2{

    font-size: 45px;
    line-height: 40px;


}

span{

    color: blueviolet;

}

p{

    line-height: 20px;
    max-width: 500px;

}

img{

    width: 600px;
    

}

form{

    display: flex;
    flex-direction: column;
    width: 70%;

}

form [type="submit"]{

    height: 50px;
    width: 50%;
    background-color: blueviolet;
    font-weight: bold;

}

form [type="submit"]:hover{

    cursor: pointer;

}

input{

    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border-color: #000 ;
    font-size: 15px;

}