<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\The-Cargos\static\css\style-admlogin.css">
    <title>Login</title>
</head>

<body>

    <header>

        <div id="title">
            <h1>The Cargos</h1>
        </div>

        <div>
            <h1>Bem-vindo!</h1>
        </div>

    </header>


    <main>

        <aside>
            <h2>Login no sistema</h2>
            <h2><span>The Cargos</span></h2>
            <form>

                <input type="text" placeholder="Usuário">
                <input type="text" placeholder="Senha">
                <input id="btn-login" type="submit" value="Entrar >">
                <br>
                <a href="dashboard.html">Entrar sem Login</a>


            </form>

        </aside>

        <article>

            <img src="\The-Cargos\static\images\ascalcas.png" alt="as-calcas">

        </article>

    </main>

    <footer>

        <div id="footer_coopyright">

            &#169
            2023 all rights reserved

        </div>

    </footer>

</body>

</html>