<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/The-Cargos/static/css/style-catalogo.css">
    <link rel="stylesheet" href="/The-Cargos/static/css/style-carrinho.css">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <title>Carrinho</title>
</head>

<body>
    <header>
        <nav>
            <a class="logo" href="/The-Cargos/templates/catalogo.html">TheCargos</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a class="link-navbar" href="/The-Cargos/templates/catalogo.html">Início</a></li>
                <li><a class="link-navbar" href="/The-Cargos/templates/produtos.html">Produtos</a></li>
                <li><a class="link-navbar" href="/The-Cargos/templates/trocas.html">Trocas e Devoluções</a></li>
                <li><a class="link-navbar" href="/The-Cargos/templates/guia-medidas.html">Guia de Medidas</a></li>
            </ul>
            <ul class="nav-list">
                <li><a class="link-navbar" href="/The-Cargos/templates/carrinho.html">Carrinho</a></li>
                <li class="dropdown">
                    <a class="link-navbar" href="#">Minha Conta</a>
                    <div class="dropdown-menu">
                        <a href="">Criar uma conta</a>
                        <a href="">Iniciar sessão</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
          <main>
            <div class="page-title">Seu Carrinho</div>
            <div class="content">
              <section>
                <table>
                  <thead>
                    <tr>
                      <th>Produto</th>
                      <th>Preço</th>
                      <th>Quantidade</th>
                      <th>Total</th>
                      <th>-</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="product">
                          <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/002/564/263/products/a68223d7-ecfb-4ceb-9290-c48070cd169e1-bc9e3fa832a2710a4016824278180966-640-0.jpeg" height="120" width="100"/>
                          <div class="info">
                            <div class="name">Calça Tactel Cinza</div>
                            <div class="category">Categoria - Tactel</div>
                          </div>
                        </div>
                      </td>
                      <td>R$ 134,99</td>
                      <td>
                        <div class="qty">
                          <button><i class="bx bx-minus"></i></button>
                          <span>2</span>
                          <button><i class="bx bx-plus"></i></button>
                        </div>
                      </td>
                      <td>R$ 269,98</td>
                      <td>
                        <button class="remove"><i class="bx bx-x"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="product">
                          <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/002/564/263/products/calca-cargo-tactel-nova-capa1-2135ccd55e6a565b2716744687824722-640-0.jpg" height="120" width="100" />
                          <div class="info">
                            <div class="name">Calça Tactel Preta com Ziper</div>
                            <div class="category">Categoria - Tactel</div>
                          </div>
                        </div>
                      </td>
                      <td>R$ 139,99</td>
                      <td>
                        <div class="qty">
                          <button><i class="bx bx-minus"></i></button>
                          <span>2</span>
                          <button><i class="bx bx-plus"></i></button>
                        </div>
                      </td>
                      <td>R$ 279,98</td>
                      <td>
                        <button class="remove"><i class="bx bx-x"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="product">
                          <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/002/564/263/products/cargo-lisa-preta-capa1-3be270f0d9ea126a2216731961164861-640-0.jpg" height="120" width="100" />
                          <div class="info">
                            <div class="name">Calça Lisa Preta</div>
                            <div class="category">Categoria - Lisa</div>
                          </div>
                        </div>
                      </td>
                      <td>R$ 129,99</td>
                      <td>
                        <div class="qty">
                          <button><i class="bx bx-minus"></i></button>
                          <span>2</span>
                          <button><i class="bx bx-plus"></i></button>
                        </div>
                      </td>
                      <td>R$ 259,98</td>
                      <td>
                        <button class="remove"><i class="bx bx-x"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
              <aside>
                <div class="box">
                  <header>Resumo da compra</header>
                  <div class="info">
                    <div><span>Sub-total</span><span>R$ 809,94</span></div>
                    <div><span>Frete</span><span>Gratuito</span></div>
                    <div>
                      <button>
                        Adicionar cupom de desconto
                        <i class="bx bx-right-arrow-alt"></i>
                      </button>
                    </div>
                  </div>
                  <footer>
                    <span>Total</span>
                    <span>R$ 809,94</span>
                  </footer>
                </div>
                <button>Finalizar Compra</button>
              </aside>
            </div>
          </main>
    <footer>
        <div class="container-conectado">
            <h2>Mantenha-se conectado:</h2>
            <div class="div-contato">
                <a href="https://www.instagram.com/the_cargos/">
                    <box-icon type="logo" color="white" size="md" name="instagram-alt"></box-icon>
                </a>
                <p>@the_cargos</p>
            </div>
            <div class="div-contato">
                <a href="https://www.tiktok.com/@the_cargos?_t=8d5eBefuMGz&_r=1">
                    <box-icon type="logo" color="white" size="md" name="tiktok"></box-icon>
                </a>
                <p>@the_cargos</p>
            </div>
        </div>
        <div class="container-contato">
            <h2>Contato:</h2>
            <div class="div-contato">
                <a href="tel:11 94561-4648">
                    <box-icon type='solid' color="white" size="md" name='phone'></box-icon>
                </a>
                <p>11 94561-4648</p>
            </div>
            <div class="div-contato">
                <a href="thecargos.anywhere@gmail.com">
                    <box-icon color="white" size="md" name='envelope'></box-icon>
                </a>
                <p>thecargos.anywhere@gmail.com</p>
            </div>

        </div>
    </footer>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/The-Cargos/static/js/catalogo.js"></script>
</body>

</html>