<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/The-Cargos/static/css/style-catalogo.css">
    <title>Catálogo</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">TheCargos</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Início</a></li>
                <li><a href="/">Produtos</a></li>
                <li><a href="/">Trocas e Devoluções</a></li>
                <li><a href="/">Guia de Medidas</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <script src="/The-Cargos/static/js/catalogo.js"></script>
</body>
</html>