<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Estoque</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='\The-Cargos\static\css\style-estoque.css'>
    <link rel="stylesheet" href="\The-Cargos\static\css\style-sidebar.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxs-shopping-bag-alt bx-tada icon'></i>
            <div class="logo_name">TheCargos</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Painel inicial</span>
                </a>
                <span class="tooltip">Painel innicial</span>
            </li>
            <li>
                <a href="admperfil.html">
                    <i class='bx bxs-user-account'></i>
                    <span class="links_name">Do utilizador</span>
                </a>
                <span class="tooltip">Do utilizador</span>
            </li>
            <li>

            <li>
                <a href="ped.html">
                    <i class='bx bx-package'></i>
                    <span class="links_name">Pedidos</span>
                </a>
                <span class="tooltip">Pedidos</span>
            </li>
            <li>
                <a href="estoque.html">
                    <i class='bx bxl-dropbox'></i>
                    <span class="links_name">Estoque</span>
                </a>
                <span class="tooltip">Estoque</span>
            </li>
            <li>
                <a href="pagamento.html">
                    <i class='bx bx-credit-card'></i>
                    <span class="links_name">Formas de pagamento</span>
                </a>
                <span class="tooltip">Formas de pagamento</span>
            </li>
            <li>
            <li class="profile">
                <div class="profile-details">
                    <!--<img src="profile.jpg" alt="profileImg">-->
                    <div class="name_job">
                        <div class="name">Ramon Ponci</div>
                        <div class="job">Web designer</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="text">

            <h1>Estoque</h1>
            <div id="wrap">
                <input type="text" placeholder="Nome:">
                <input type="number" placeholder="Quantidade">
                <input type="number" placeholder="Preço">
                <input type="text" placeholder="Prateleira">
                <input type="text" placeholder="Descrição">
                <input type="text" placeholder="Categoria">
            </div>
            <div id="botoes">
                <button>Cadastrar</button>
                <button>Excluir</button>
                <button>Editar</button>
            </div>
            <div id="saida">
                <table width="100%" height="5%">
                    <tr>
                        <td width="30px">
                        </td>
                        <td>
                            Nome
                        </td>
                        <td>
                            Quant.
                        </td>
                        <td>
                            Preço
                        </td>
                    </tr>
                </table>
            </div>
            <script src="/The-Cargos/static/js/script.js"></script>
        </div>
    </section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");
    
        closeBtn.addEventListener("click", () => {
          sidebar.classList.toggle("open");
          menuBtnChange();//calling the function(optional)
        });
    
        searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search icon
          sidebar.classList.toggle("open");
          menuBtnChange(); //calling the function(optional)
        });
    
        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
          if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
          } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
          }
        }
      </script>
</body>

</html>
