<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cards</title>
  <link rel="stylesheet" href="\The-Cargos\static\css\style-pagamento.css" />
  <link rel="stylesheet" href="\The-Cargos\static\css\style-sidebar.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-shopping-bag-alt bx-tada icon'></i>
        <div class="logo_name">TheCargos</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Painel inicial</span>
            </a>
            <span class="tooltip">Painel innicial</span>
        </li>
        <li>
            <a href="admperfil.html">
                <i class='bx bxs-user-account'></i>
                <span class="links_name">Do utilizador</span>
            </a>
            <span class="tooltip">Do utilizador</span>
        </li>
        <li>

        <li>
            <a href="ped.html">
                <i class='bx bx-package'></i>
                <span class="links_name">Pedidos</span>
            </a>
            <span class="tooltip">Pedidos</span>
        </li>
        <li>
            <a href="estoque.html">
                <i class='bx bxl-dropbox'></i>
                <span class="links_name">Estoque</span>
            </a>
            <span class="tooltip">Estoque</span>
        </li>
        <li>
            <a href="pagamento.html">
                <i class='bx bx-credit-card'></i>
                <span class="links_name">Formas de pagamento</span>
            </a>
            <span class="tooltip">Formas de pagamento</span>
        </li>
        <li>
        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Ramon Ponci</div>
                    <div class="job">Web designer</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>
<section class="home-section" id="home-section">
    <div class="text">
      <div class="container">
        <!-- Card 1 -->
        <div class="card card-1">
          <!-- card-header -->
          <div class="card-header">
            <img class="img-pix" src="\The-Cargos\static\images\pixblack.png" width="317" card-img />
          </div>
          <!-- card-header -->

          <!-- card-body -->
          <div class="card-body">
            <h3 class="card-local">PIX</h3>
            <h4 class="card-titulo">Transferencia pix</h4>
            <p class="card-texto">

              Os pagamentos e transferências demoram apenas dez segundos para serem realizados.
            </p>
          </div>
          <!-- card-body -->

          <!-- card-footer -->
          <div class="card-footer">


          </div>
          <!-- card-footer -->
        </div>
        <!-- Card 1 -->

        <!-- Card 2 -->
        <div class="card card-2">
          <!-- card-header -->
          <div class="card-header">
            <img src="\The-Cargos\static\images\cartao-removebg-preview.png" width="300" card-img />

          </div>
          <!-- card-header -->

          <!-- card-body -->
          <div class="card-body">
            <h3 class="card-local">cartao</h3>
            <h2 class="card-titulo"> Transferencia TED/DOC</h2>
            <p class="card-texto">
              Transferido via TED é creditadono mesmo dia,
              se transferido até às 17h (horário de Brasília).
            <p>

            </p>
            <p class="card-texto">Transferido via DOC o dinheiro cai no dia seguinte</p>
            </p>
          </div>
          <!-- card-body -->

          <!-- card-footer -->
          <div class="card-footer">

          </div>
          <!-- card-footer -->
        </div>
        <!-- Card 2 -->



        <!-- Link Tutorial: https://youtu.be/UEm65E2_Y2Q -->
      </div>
    </div>
  </section>
  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
      }
    }
  </script>
</body>

</html>