<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\The-Cargos\static\css\media.css">
    <link rel="stylesheet" href="\The-Cargos\static\css\style-login.css">
    <title>Login</title>
</head>
<body>
    
    <header>

        <div id="title">
            <h1>The Cargos</h1>
        </div>

        <ul>
            <a href="teladecadastro.html" id="inscreva-se-btn"><li>Início</li></a>
        </ul>

    </header>


    <main>

        <aside>
            <h2><span>Entre</span></h2>
            <h2>No Melhor Gerenciamento</h2>
            <p>Não é só uma calça, é seu ESTILO!</p>
            <form>

                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Senha">
                <input type="submit" id="btn-login" value="Enviar >">

            </form>

        </aside>

        <article>

            <img src="\The-Cargos\static\images\ascalcas.png" alt="as-calcas" href="https://www.instagram.com/the_cargos">

        </article>

    </main>



</body>
</html>